/* Settings */
* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  letter-spacing: 2px;
  color: #f1f1f1;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em;
}

h2 {
  font-size: 2em;
  letter-spacing: 3px;
  margin: 30px 0;
}

p {
  margin: 15px 0;
}

section {
  padding-bottom: 45px;
}

body {
  margin: 0;
  padding: 0;

}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2a4580;
  width: 100%;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  color: #f1f1f1;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
}

header .navegacao a:hover {
  opacity: .4;
  text-decoration: solid;
}

.main-content {
  max-width: 1280px;
  padding: 60px 30px;
  width: 100%;
  margin: 0 auto;
}

/* I'am  */
#i-am {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgba(161, 191, 255, 1);
  background: -moz-radial-gradient(center,
      ellipse cover,
      rgba(161, 191, 255, 1) 0%,
      rgba(67, 111, 204, 1) 100%);
  background: -webkit-radial-gradient(center,
      ellipse cover,
      rgba(161, 191, 255, 1) 0%,
      rgba(67, 111, 204, 1) 100%);
  background: -o-radial-gradient(center,
      ellipse cover,
      rgba(161, 191, 255, 1) 0%,
      rgba(67, 111, 204, 1) 100%);
  background: -ms-radial-gradient(center,
      ellipse cover,
      rgba(161, 191, 255, 1) 0%,
      rgba(67, 111, 204, 1) 100%);
  background: radial-gradient(ellipse at center,
      rgba(161, 191, 255, 1) 0%,
      rgba(67, 111, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1bfff', endColorstr='#436fcc', GradientType=1);
}

#i-am .photo-main {
  border-radius: 50%;
  max-width: 350px;
  margin: 0 auto;
}

#i-am .resume {
  text-align: center;
  margin: 30px auto;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 2em;
}

#i-am .resume-content {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  color: #f1f1f1;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#i-am .resume-content p {
  padding-right: 15px;
}

#i-am .resume-content .resume-html::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
  margin-right: 5px;
}

#i-am .resume-content .resume-css::before {
  content: "\f38b";
  font-family: "Font Awesome 5 Brands";
  margin-right: 5px;
}

#i-am .resume-content .resume-js::before {
  content: "\f3b9";
  font-family: "Font Awesome 5 Brands";
  margin-right: 5px;
}

/*sobre-mim*/
#about .about::after {
  content: "\f2bd";
  font-family: "Font Awesome 5 Free";
  margin-left: 15px;
}

#about p {
  font-size: 1.6rem;
}

/*Competencias*/
#skills .my-skills::after {
  content: "\f5fc";
  font-family: "Font Awesome 5 Free";
  margin-left: 15px;
}

#skills .competencias {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

#skills .competencias .competencias-html::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
}

#skills .competencias .competencias-css::before {
  content: "\f38b";
  font-family: "Font Awesome 5 Brands";
}

#skills .competencias .competencias-bootstrap::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
}

#skills .competencias .competencias-javascript::before {
  content: "\f3b9";
  font-family: "Font Awesome 5 Brands";
}

#skills .competencias .competencias-git::before {
  content: "\f841";
  font-family: "Font Awesome 5 Brands";
}

#skills .competencias .rating {
  display: flex;
  margin-top: 15px;
}

#skills .competencias .rating .radius {
  background-color: #aaaaaa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#skills .competencias .rating .radius.active {
  background-color: #2a4580;
}

/*Cursos*/

#progress a {
  text-decoration: none;
  color: #000000;

}

#progress a:hover {
  color: #808080;
  opacity: 0.7;
}

#progress .progress::after {
  content: "\f212";
  font-family: "Font Awesome 5 Brands";
  margin-left: 15px;
}

#progress .my-progress {
  display: flex;
  justify-content: space-around;
}

/*Onde me encontrar*/
footer{
  background-color: #2a4580;
  padding: 15px;
  text-align: center;
}

footer h3{
  color: #ffffff;
  font-weight: normal;
  margin: 0 0 30px 0;
}

#social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

#social a {
  text-decoration: none;
  color: #ffffff;
}

#social a:hover {
  color: #aaaaaa;
  opacity: 0.7;
  font-size: 2em;
}

#social .find-me::after {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  margin-left: 15px;
}

#social .icon{
  font-family: "Font Awesome 5 Brands";
  margin-right: 5px;
  font-size: 2em;
}

#social .icon.facebook::before {
  content: "\f09a";
}

#social .icon.instagram::before {
  content: "\f955";
}

#social .icon.linkedin::before {
  content: "\f08c";
}

#social .icon.github::before {
  content: "\f09b";
}

#social .icon.whatsapp::before {
  content: "\f40c";
}