/* Settings */
* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  letter-spacing: 2px;
  color: #f1f1f1;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em;
}
body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2a4580;
  width: 100%;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav a {
  color: #f1f1f1;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
}

/* I'am  */
#i-am {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgba(161, 191, 255, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(161, 191, 255, 1) 0%,
    rgba(67, 111, 204, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(161, 191, 255, 1) 0%,
    rgba(67, 111, 204, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(161, 191, 255, 1) 0%,
    rgba(67, 111, 204, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(161, 191, 255, 1) 0%,
    rgba(67, 111, 204, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(161, 191, 255, 1) 0%,
    rgba(67, 111, 204, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1bfff', endColorstr='#436fcc', GradientType=1 );
}

/* Photo */
.photo-main {
  border-radius: 50%;
  max-width: 350px;
  margin: 0 auto;
}

/* Description */
.resume {
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
  color: #f1f1f1;
  text-transform: uppercase;
}

/* About */
#about {
  height: 100vh;
}

/* Cursos */
#cursos {
  height: 100vh;
}

#social {
  height: 100vh;
}
